<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container  class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav [opened]="!mobileQuery.matches" #sidenav class="sidenav background-primary mat-elevation-z10" #snav [mode]="mobileQuery.matches? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">
      <div class="user">
        <div>
          <img class="user-pic" width="100" height="100" src="/assets/images/default-user-avatar.jpg" />
        </div>
        <div class="user-name">
          <span>WASIF UMMAR GUJJAR</span>
        </div>
        <div class="user-email">
          <span>wasif.umar.gujjar@gmail.com</span>
        </div>
      </div>
      <mat-nav-list>
        <a class="side-nav-item" [class.side-nav-item-live]="nav.icon === 'live_tv'" mat-list-item routerLink="{{nav.url}}" *ngFor="let nav of fillerNav">
          <mat-icon class="side-nav-item-icon">{{nav.icon}}</mat-icon>
          {{nav.title}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-toolbar (menuClick)="menuClicked($event)"></app-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
