.example-spacer {
  flex: 1 1 auto;
}

.login {
  background-color: darkblue;
  color: lightgray;
  font-size: 18px;
  width: 80px;
  height: 35px;
  margin-right: 20px;
}

.donate {
  background-color: darkblue;
  color: lightgray;
  font-size: 18px;
  width: 120px;
  height: 35px;
  margin-right: 20px;
}
