<mat-toolbar class="toolbar-color">
  <button mat-icon-button (click)="onMenuClick()">
    <mat-icon class="mat-icon-size">menu</mat-icon>
  </button>
  <div class="logo">
    <img src="./assets/images/logo.jpg" />
  </div>
  <span class="example-spacer"></span>
  <button (click)="donate()" mat-button class="primary donate">
    Donate
  </button>
  <button (click)="login()" mat-button class="primary login">
    Login
  </button>
  <button mat-button>
    <mat-icon [matMenuTriggerFor]="notifications" class="mat-icon-size">notifications</mat-icon>
    <mat-menu #notifications="matMenu">
      <mat-list role="list">
        <mat-list-item role="listitem">Notification 1</mat-list-item>
        <mat-list-item role="listitem">Notification 2</mat-list-item>
        <mat-list-item role="listitem">Notification 3</mat-list-item>
      </mat-list>
    </mat-menu>
  </button>
  <button mat-button>
    <mat-icon [matMenuTriggerFor]="menu" class="mat-icon-size">supervisor_account</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>supervisor_account</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
