body {
  //background-image: url("/assets/images/roza-e-anwar.jfif");
  background: gray;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-content {
  display: flex;
  align-items: center;
}
