table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 'auto';
}

th {
  background: #074a2d;
  color: white;
}

.portals-table {
  margin: 50px;
}

.portals-table-filter {
  margin: 50px 50px 0 50px;
  width: 100%;
}
